In [1]:
import pandas as pd

In [4]:
pd.read_stata("RepProgram.dta")

/Users/valeria/opt/anaconda3/lib/python3.9/site-packages/pandas/io/stata.py:1514: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  warnings.warn(msg, UnicodeWarning)

,personas,hombre,orden_n,D,baja,D_baja,ha_nchs,desn_cr,ocupado_jefe,educa_jefe,ingresos_hogar_jefe
0,7,0,1,0,1,0,-5.504454,1.0,1,0.0,9.000000
1,4,1,2,0,0,0,-5.192995,1.0,1,3.0,0.000000
2,4,0,1,0,0,0,-5.652266,1.0,0,6.0,59.000000
3,4,0,1,0,0,0,-5.022599,1.0,1,5.0,148.000000
4,5,0,1,0,1,0,-5.241397,1.0,1,11.0,124.000000
...,...,...,...,...,...,...,...,...,...,...,...
3995,5,1,2,1,1,1,4.856632,0.0,1,5.0,60.500000
3996,5,1,1,1,1,1,4.600248,0.0,1,11.0,200.600006
3997,2,0,1,1,0,0,5.004343,0.0,1,7.0,43.000000
3998,6,0,1,1,1,1,4.732728,0.0,1,2.0,0.500000
3999,2,0,1,1,0,0,5.941913,0.0,1,18.0,123.500000