In [1]:
import pandas as pd

In [2]:
genovia_df = pd.read_stata("RepProgram.dta")
genovia_df.head()

/Users/valeria/opt/anaconda3/lib/python3.9/site-packages/pandas/io/stata.py:1514: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  warnings.warn(msg, UnicodeWarning)

,personas,hombre,orden_n,D,baja,D_baja,ha_nchs,desn_cr,ocupado_jefe,educa_jefe,ingresos_hogar_jefe
0,7,0,1,0,1,0,-5.504454,1.0,1,0.0,9.0
1,4,1,2,0,0,0,-5.192995,1.0,1,3.0,0.0
2,4,0,1,0,0,0,-5.652266,1.0,0,6.0,59.0
3,4,0,1,0,0,0,-5.022599,1.0,1,5.0,148.0
4,5,0,1,0,1,0,-5.241397,1.0,1,11.0,124.0

In [4]:
print(f"La base de datos tiene {genovia_df.shape[0]} observaciones")

La base de datos tiene 4000 observaciones

In [6]:
genovia_df.columns

Index(['personas', 'hombre', 'orden_n', 'D', 'baja', 'D_baja', 'ha_nchs',
       'desn_cr', 'ocupado_jefe', 'educa_jefe', 'ingresos_hogar_jefe'],
      dtype='object')

In [7]:
var_interes = ['personas', 'hombre', 'orden_n', 'ocupado_jefe', 'educa_jefe', 'ingresos_hogar_jefe']
genovia_df[var_interes].describe()

,personas,hombre,orden_n,ocupado_jefe,educa_jefe,ingresos_hogar_jefe
count,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000
mean,5.136000,0.516250,1.099250,0.797750,6.403250,73.528870
std,2.067262,0.499798,0.316108,0.401728,3.874234,84.452888
min,2.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,4.000000,0.000000,1.000000,1.000000,4.000000,30.039949
50%,5.000000,1.000000,1.000000,1.000000,6.000000,53.250000
75%,6.000000,1.000000,1.000000,1.000000,10.000000,90.500000
max,23.000000,1.000000,3.000000,1.000000,18.000000,1350.000000